[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "CalibrationCurves"]
	path = CalibrationCurves
	url = https://github.com/bavodc/calibrationcurves
	shallow = true
	registered = true
