[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CalibrationCurves"]
	path = CalibrationCurves
	url = https://github.com/cran/CalibrationCurves
[submodule "actuaRE"]
	path = actuaRE
	url = https://github.com/cran/actuaRE
